@import 'tailwindcss';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Instrument Sans', sans-serif;
  /* font-family: 'Inter', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

.svg-icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color, var(--text));
}

.svg-icon-link:hover {
  color: var(--icon-hover-color, var(--primary));
}

.svg-icon-link:hover .svg-icon {
  background-color: var(--icon-hover-color);
}

.svg-icon {
  display: inline-block;
  color: var(--icon-color, var(--text));
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.svg-icon-large {
  width: 28px;
  height: 28px;
}

.svg-icon-medium {
  width: 23px;
  height: 23px;
}

.svg-icon-small {
  width: 20px;
  height: 20px;
}

.svg-icon-xsmall {
  width: 18px;
  height: 18px;
}

.card.hidden {
  display: none;
}

.custom-margin {
  margin-top: 8vh;
}

@media (max-height: 800px) {
  .custom-margin {
    margin-top: 10px;
  }
}

