:root {
  --fade-duration: 1s;
  --tile-size: 48px;
  --tile-gap: 0px;
}

.tile-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  z-index: 10;
}

.tile-bg-container .tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--tile-base-color, var(--bg-dark));
  transition: background-color var(--fade-duration) ease;
}

.tile-bg-container .tile:hover {
  background-color: var(--primary);
  transition: none;
}
