.expandable-card {
  --animation-duration: 2000ms;
  --content-height: 0;
  --initial-width: 280px;
  --initial-height: 320px;

  width: var(--initial-width);
  min-height: var(--initial-height);
  transition: width var(--animation-duration) cubic-bezier(0.22, 1, 0.36, 1);
  /* overflow: visible; */
  display: flex;
  flex-direction: column;
}

.tabs-container {
  width: 100%;
  flex-shrink: 0;
}

.card-content {
  height: auto;
  opacity: 0;
  overflow: hidden;
}

.expandable-card.expanded {
  width: 100%;
}

.expandable-card.expanded .card-content {
  opacity: 1;
}

.expandable-card.closing {
  --closing-duration: 720ms;
  transition: width var(--closing-duration) cubic-bezier(0.22, 1, 0.36, 1);
}

.expandable-card.animating {
  will-change: width;
}

.expandable-card.animating .card-content {
  will-change: height, opacity;
}
